<div class="container">
	<div class="hero-unit">
		<h1>Bill created</h1>
	</div>		
</div>

<div class="container">
	<strong>Number :</strong> <%= @bill.number %><br />
	<strong>Location:</strong> <%= @bill.location %><br />
</div>
