
<div class="topbar">
		  <div class="fill">
		    <div class="container">
		        <ul class="nav">
		          <li><%= link_to "Home", root_path %></li>
		          <li><a href="#about">About</a></li>
		        </ul>
		        <% if current_user %>
		          	<ul class="nav secondary-nav">
		          		<li>Logged in</li>
		          		<li><%= link_to "SignOut", signout_path, :method => :delete %></li>
		          	</ul>
		        <% end %>
		        <% if !current_user %>
					<ul class="nav secondary-nav">
				  		<li><a href="/auth/facebook">Facebook</a></li>
					</ul>
				<% end %>
		    </div>
		  </div>
</div>