
<div class="topbar">
		  <div class="fill">
		    <div class="container">
		        <ul class="nav">
		          <li><%= link_to "Home", root_path %></li>
		          <li><a href="#about">About</a></li>
		          	
		        </ul>
					<ul class="nav secondary-nav">
				  		<li><a href="/auth/facebook">Facebook</a></li>
					</ul>
		    </div>
		  </div>
</div>